SetEnv SITELOAD /var/www/vendor/bartonlp/site-class/includes
SetEnv SITELOADNAME /var/www/vendor/bartonlp/site-class/includes/siteload.php

RewriteEngine on
RewriteRule ^robots\.txt$ robots.php [L,NC]

RewriteCond %{HTTP_USER_AGENT} "baiduspider" [NC]
RewriteRule (.*) - [F,L]

# rewrite the address of csstest.css to tracker.php?csstest
RewriteRule ^csstest\.css(.*)(.*)$ tracker.php?$2&csstest [L,QSA]
